<meta charset="utf-8">
<h5 class="bg-primary">Exercício 10</h5>
<form method="post" class="row ms-1">
    <div class="col">
        <label for="valores">Digite 10 números separados por espaço:</label>
        <input type="text" class="form-control" name="numbers"/>
    </div>
    <div class="col">
        <button type="submit" class="btn btn-success mt-4">Enviar</button>
    </div>
    <div class="form-text ms-3">O programa retorna os números em ordem contrária.</div>
    <h3>{{{result}}}</h3>
</form>