<meta charset="utf-8">
<h5 class="bg-primary">Exercício 11</h5>
<form method="post">
    <div class="row ms-3">
        <p class="col">{{{results.result1}}}</p>
        <p class="col">{{{results.result2}}}</p>
        <p class="col">{{{results.result3}}}</p>
        <p class="col">{{{results.result4}}}</p>
    </div>
</form>