<meta charset="utf-8">
<h5 class="bg-primary">Exercício 15</h5>
<div class="container p-4">
    <form class="input-group" method="post">
        <div class="mb-3">
            <label for="data" class="form-label">Data:</label>
            <input type="date" class="form-control" name="date">
            <div class="form-text">O programa retorna a data por extenso.</div>
        </div>
        <div>
            <button type="submit" class="btn btn-success mt-4 ms-3" id="botao">Enviar</button>
    </form>
    </div>
    <h3>{{result}}</h3>
</div>