<meta charset="utf-8">
<h5 class="bg-primary">Exercício 2</h5>
<div class="container p-4">
    <form method="get" class="input-group">
        <div class="mb-3">
            <input type="number" name="number" class="form-control">
            <div class="form-text">O programa retorna a tabuada referente ao número digitado.</div>
        </div>
        <div>
            <button type="submit" class="btn btn-success mt-4 ms-3">Enviar</button>    
        </div>
    </form>
    {{#if result}}
        <h3>{{{result}}}</h3>
    {{/if}}
</div>