<h5 class="bg-primary">Exercício 3</h5>

<table class="table table-striped table-bordered table-responsive">
    <thead class="text-center">
        <tr>
            <th colspan="2">Linguagem Fortemente Tipada</th>
            <th colspan="2">Linguagem Fracamente Tipada</th>
        </tr>
    </thead>
    <tbody>
        <tr class="text-center">
            <th>Vantagens</th>
            <th>Desvantagens</th>
            <th>Vantagens</th>
            <th>Desvantagens</th>
        </tr>
        <tr>
            <td>Erros de incompatibilidade de tipo podem ser verificados com mais facilidade</td>
            <td>É preciso declarar o tipo e fazer conversões quando necessário</td>
            <td>Flexibilidade para alterar o conteúdo da variável</td>
            <td>Pode gerar uma confusão pelo uso de uma mesma variável para armazenar vários tipos</td>
        </tr>
        <tr>
            <td>É mais legível para outro programador ler o código</td>
            <td>É menos flexível para alterar o conteúdo de variáveis</td>
            <td>Sem preocupação com declaração de tipos, conversões e etc</td>
            <td>Pode ser confuso para outro programador fazer a leitura do código</td>
        </tr>
    </tbody>
</table>

<div class="ms-3 mt-3">
    <b>- Linguagem fortemente tipada</b> é aquela em que os objetos/variáveis tem um tipo bem definido e que precisa ser informado no momento de sua declaração.<br>
<b>- Linguagem fracamente tipada</b> é aquela em que ao se declarar uma variável o seu tipo de conteúdo não precisa ser declarado, e ao ser fracamente tipada toda e qualquer linguagem de programação será ao mesmo tempo dinamicamente tipada, isto é, se o tipo de conteúdo da variável mudar, automaticamente o seu tipo também muda.
</div>