<meta charset="utf-8">
<form method="post">
    <label for="">Peso:</label>
    <input type="number" step="0.01" name="weight"/>
    <label for="">Altura:</label>
    <input type="number" step="0.01" name="height"/>
    <button type="submit">Enviar</button>
    <h3>{{{result}}}</h3>
</form>