<meta charset="utf-8">
<h5 class="bg-primary">Exercício 6</h5>
<div style="margin-left: 31.2rem;" class="mt-4">
    <div class="card" style="width: 20rem; height: 25rem;">
        <div class="card-body">
            <h5 class="card-title text-center">Calculadora FLEX:</h5>
            <form method="post">
                <div class="row ms-2">
                    <input type="number" step="0.01" class="text-control col-11" placeholder="Etanol" name="ethanol">
                </div>
                <div class="row ms-2">
                    <input type="number" step="0.01" class="text-control col-11 mt-2" placeholder="Gasolina" name="gas">
                </div>
                <div class="row ms-2">
                    <button type="submit" class="btn btn-success btn-sm col-5 me-4 mt-2">Vantagem</button>
                    <button type="reset" class="btn btn-primary btn-sm col-5 mt-2">Limpar</button>
                </div>
            </form>
        </div>
        <img src="{{result}}" id="imgResultadoVantagem" alt="" style="width: 70%; margin-left: 3rem; margin-bottom: 4rem;">
    </div>
</div>

<script>
    const formulario = document.querySelector("form");
    const imgResultadoVantagem = document.querySelector("#imgResultadoVantagem");
    formulario.addEventListener("reset", function () {
        imgResultadoVantagem.src = "assets/images/neutro.png";
    });
</script>